@import url(https://fonts.googleapis.com/css?family=Lobster+Two);

body {
	
    text-align: left;
	font-size: 16px;
	background-image: url(images/marketing-education-important.jpg);
	background-size: cover;
	background-color: #fff;
	background-position: center center;
	background-repeat:no-repeat;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
    text-align: right;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20 0px;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 60px;
	text-align: center;
}

h3 {
	font-family: arial, sans-serif;
	font-size: 20px;
	text-align: center;
}

img {
	display: block;
    margin: 0 auto;
}

article {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
    
}

aside {
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
   

}

footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20 0px;
    text-align: center;

}

div {
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;

}


