@import url(https://fonts.googleapis.com/css?family=Lobster+Two);

body {
	
    text-align: left;
	font-size: 16px;
	background-image: url(images/marketing-education-important.jpg);
	background-size: cover;
	background-color: #fff;
	background-position: center center;
	background-repeat:no-repeat;
	padding: 20px;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 60px;
	text-align: left;
}


#slogan {
	font-style: italic;
	font-size: 16px;
	font-family: arial;
}
