@import url(https://fonts.googleapis.com/css?family=Lobster+Two);

body {
	color: white;
	background-image: url(images/marketing-education-important.jpg);
	text-align: center;
	background-color: #000000;
    background: no-repeat;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 60px;
	text-align: center;
}


#slogan {
	font-style: italic;
	font-size: 24px;
	font-family: arial;
}
